// Vertical

.spacer-v-1 {
    margin: calc($spacing-01/2) 0;
}
.spacer-v-2 {
    margin: calc($spacing-02/2) 0;
}
.spacer-v-3 {
    margin: calc($spacing-03/2) 0;
}
.spacer-v-4 {
    margin: calc($spacing-04/2) 0;
}
.spacer-v-5 {
    margin: calc($spacing-05/2) 0;
}
.spacer-v-6 {
    margin: calc($spacing-06/2) 0;
}
.spacer-v-7 {
    margin: calc($spacing-07/2) 0;
}
.spacer-v-8 {
    margin: calc($spacing-08/2) 0;
}
.spacer-v-9 {
    margin: calc($spacing-09/2) 0;
}
.spacer-v-10 {
    margin: calc($spacing-10/2) 0;
}
.spacer-v-11 {
    margin: calc($spacing-11/2) 0;
}
.spacer-v-12 {
    margin: calc($spacing-12/2) 0;
}
.spacer-v-13 {
    margin: calc($spacing-13/2) 0;
}

// Horizontal

.spacer-h-1 {
    margin: 0 calc($spacing-01/2);
}
.spacer-h-2 {
    margin: 0 calc($spacing-02/2);
}
.spacer-h-3 {
    margin: 0 calc($spacing-03/2);
}
.spacer-h-4 {
    margin: 0 calc($spacing-04/2);
}
.spacer-h-5 {
    margin: 0 calc($spacing-05/2);
}
.spacer-h-6 {
    margin: 0 calc($spacing-06/2);
}
.spacer-h-7 {
    margin: 0 calc($spacing-07/2);
}
.spacer-h-8 {
    margin: 0 calc($spacing-08/2);
}
.spacer-h-9 {
    margin: 0 calc($spacing-09/2);
}
.spacer-h-10 {
    margin: 0 calc($spacing-10/2);
}
.spacer-h-11 {
    margin: 0 calc($spacing-11/2);
}
.spacer-h-12 {
    margin: 0 calc($spacing-12/2);
}
.spacer-h-13 {
    margin: 0 calc($spacing-13/2);
}
