@import "carbon-components/scss/globals/scss/typography.scss";
.dropdowndiv {
    width: 20rem;
    background-color: #2e2e2e;
    height: 23.75rem;
    position: relative;
}
.dropdowndiv p {
    color: #8d8d8d;
    font-weight: 600;
    font-size: $spacing-05;
    line-height: $spacing-05;
    margin-left: $spacing-05;
    padding-top: $spacing-05;
}

.bx--list--unordered > .bx--list__item::before {
    content: "•" !important ;
    font-size: 280%;
    color: green;
    width: 1em;
    position: absolute;
    top: $spacing-01;
    left: $spacing-05 !important;
}
.dropdowndiv li {
    color: white;

    padding-top: $spacing-05;
    padding-left: $spacing-09;
    cursor: pointer;
    position: relative;
}
.firstli:hover,
.secondli:hover,
.thirdli:hover {
    background: black;
}
li span {
    font-family: IBM Plex Sans;
    font-size: $spacing-04;
    font-style: normal;
    font-weight: 400;
    line-height: $spacing-04;

    text-align: left;
    color: #929292;
}
.checkmark1,
.checkmark2,
.checkmark3 {
    position: absolute;
    color: #98c588;

    top: $spacing-04;
    right: $spacing-07;
    visibility: hidden;
}
.firstli:hover .checkmark1,
.secondli:hover .checkmark2,
.thirdli:hover .checkmark3 {
    visibility: visible;
}
.up {
    position: absolute;
    color: white;
    right: $spacing-07;
    bottom: $spacing-05;
}

.bx--tabs--scrollable {
    padding: 0px !important;
}
